[submodule "vim/SrcExpl"]
	path = vim/SrcExpl
	url = https://github.com/wesleyche/SrcExpl
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
